@model IAlbum
@{
    ViewBag.Title = "Administration panel";
    Layout = "_ArtLayout";
}
<div>
    <div>
        <form id="EditAlbum" asp-action="EditAlbum" asp-controller="AdminArt" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" value="@Model.Id"/>
            <div class="uk-margin">
                <input type="text" class="uk-input" asp-for="Name" placeholder="Name" value="@Model.Name"/>
            </div>
            <div class="uk-margin">
                <input type="text" class="uk-input" asp-for="Description" placeholder="Description" value="@Model.Description"/>
            </div>
            <div class="uk-margin">
                <input id="hiddenCheckbox" type="hidden" asp-for="State" value="@Model.State"/>
                @*                 @if (Model.State) *@
                @*                 { *@
                <label><input id="checkbox" class="uk-checkbox" type="checkbox" @Model.State ? checked :> Visible</label>
                @*                 } *@
                @*                 else *@
                @*                 { *@
                @*                      <label><input class="uk-checkbox" type="checkbox" asp-for="State"> Visible</label> *@
                @*                 } *@
            </div>
        </form>
    </div>
    <div class="uk-margin uk-child-width-1-6@m" uk-grid>
        @if (Model.Pictures != null && Model.Pictures.Any())
        {
            foreach (var picture in Model.Pictures)
            {
                <div>
                    <div class="uk-card uk-card-default uk-card-hover">
                        @if (!picture.State)
                        {
                            <div class="uk-card-badge uk-label">Hidden</div>
                        }
                        <div class="uk-card-media-top">
                            <img src="@picture.Path" alt="@picture.Name"/>
                        </div>
                        <div class="uk-card-footer uk-text-center">
                            <ul class="uk-iconnav">
                                @if (picture.State)
                                {
                                    <li>
                                        <a asp-action="EditPicture" asp-route-id="@picture.Id" asp-route-method="Hide" uk-tooltip="title: Hide; delay: 500" class="uk-icon uk-icon-image" style="background-image: url(/lib/glyphicon/glyphicons-52-eye-open.png);"></a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a asp-action="EditPicture" asp-route-id="@picture.Id" asp-route-method="Show" uk-tooltip="title: Show; delay: 500" class="uk-icon uk-icon-image" style="background-image: url(/lib/glyphicon/glyphicons-53-eye-close.png);"></a>
                                    </li>
                                }
                                <li>
                                    <a asp-action="EditPicture" asp-route-id="@picture.Id" asp-route-method="Delete" uk-icon="icon: trash" uk-tooltip="title: Delete; delay: 500"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <div class="uk-margin">
        <div class="uk-text-left">
            <div uk-form-custom="target: true">
                <input type="file" name="Pictures" multiple>
                <button class="uk-button uk-button-default" type="button" tabindex="-1">Select pictures</button>
            </div>
        </div>
        <div class="uk-text-right">
            <a asp-action="DeleteAlbum" asp-controller="AdminArt" class="uk-button uk-button-default">Delete</a>
            <a asp-action="Index" asp-controller="AdminArt" class="uk-button uk-button-default">Back</a>
            <input form="EditAlbum" class="uk-button uk-button-primary" type="submit" value="Apply"/>
        </div>
    </div>
</div>