<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Portfoglio by Ilya Gorshkov</title>
    <script src="//cdn.ckeditor.com/4.10.0/standard/ckeditor.js"></script>
    @* <environment include="Production"> *@
        @* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.4/css/uikit.min.css" /> *@
        <link rel="stylesheet" href="~/css/site.css"/>
        <link rel="stylesheet" href="~/css/uikit.css"/>
    @* </environment> *@
    @* <environment exclude="Production"> *@
        <link rel="stylesheet" href="~/css/uikit.min.css" asp-append-version="true"/>
    @* </environment> *@
</head>
<body>
<div class="uk-section uk-section-default uk-width-1-6@m uk-position-left  uk-visible@l">

    <div class=" uk-padding-small " uk-sticky="offset: 150;">
        <ul class="uk-nav uk-nav-primary uk-nav-center uk-text-right">
            <li>
                <a asp-controller="Art" asp-action="Index"><span class="uk-margin-small-right" uk-icon="icon: paint-bucket"></span> My works</a>
            </li>
            <li>
                <a asp-controller="Art" asp-action="About"><span class="uk-margin-small-right" uk-icon="icon: info"></span> About me</a>
            </li>
            <li>
                <a asp-controller="Art" asp-action="Pricelist"><span class="uk-margin-small-right" uk-icon="icon: list"></span> Pricelist</a>
            </li>
            <li class="uk-nav-divider"></li>
            <li>
                <a href="#"><span class="uk-margin-small-right" uk-icon="icon: receiver"></span> Contact with me</a>
            </li>
        </ul>
    </div>
</div>
<div>
    <div class="art-main uk-section">
        <div class="uk-container uk-container-small uk-position-relative">
            @RenderBody()
        </div>
    </div>
</div>
<footer id="footer" class="uk-section uk-section-xsmall uk-background-muted">
    <div class="uk-container uk-container-small">&copy; 2017 - @DateTime.Now.Year - Portfoglio by Ilya Gorshkov @ViewData["Footer"]</div>
</footer>
@* <environment include="Production"> *@
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/uikit.js"></script>
    <script src="~/js/uikit-icons.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
@* </environment> *@



@RenderSection("Scripts", required: false)
</body>
</html>